.wTab {
    width: 33.3% !important;
}

.mat-tab-label {
    width: 33.3% !important;
}

.mat-tab-label, .mat-tab-link {
    color: rgba(0,0,0,.87);
    width: 33.3%;
}

::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
    /* min-width: 0!important;
    padding: 3px!important;
    margin: 3px!important; */
    width: 33.3%;
    /* border-bottom: 1px double #f35c58; */
}

::ng-deep.mat-tab-label-active {
    /* min-width: 0!important;
    padding: 3px!important;
    margin: 3px!important; */
    /* width: 33.3%; */
    /* border-bottom: 1px double #f35c58; */
}




::ng-deep.mat-tab-group.mat-primary ::ng-deep.mat-ink-bar, ::ng-deep.mat-tab-nav-bar.mat-primary ::ng-deep.mat-ink-bar {
    background-color: #f35c58;
    color: #f35c58;
    /* border-bottom: 1px double #f35c58; */
}

/* ::ng-deep.mat-drawer-container {
    color: #f35c58;
} */

 

::ng-deep.mat-tab-label-active {
    color: #f35c58;
}





