<div class="slidesGeneral">
    <div class="owl-carousel owl-theme ajustSlide">
        <div class="item card-1">
            <img class="ajustImage " style="width: 500px;" src="https://d37wmy56xprd2c.cloudfront.net/fit-in/1920x1080/cm9hZGtpbGxfc2VyaWU_11032_BACKGROUND_1920x1080.png?timestamp=1611868204634" />
        </div>
        <!-- <div class="item card-1">
            <img class="ajustIma <div class="item card-1">
            <img class="ajustImage " src="https://d37wmy56xprd2c.cloudfront.net/fit-in/669x391/cm9hZGtpbGxfc2VyaWU_11032_BACKGROUND_1920x1080.png?timestamp=1611868204634" />
        </div>
        <div class="item card-1">
            <img class="ajustImage " src="https://d37wmy56xprd2c.cloudfront.net/fit-in/669x391/d2FyX29mX3RoZV93b3JsZHNfYV9hcnRlX2RhX2d1ZXJyYV9zZXJpZQ_11032_BACKGROUND_1920x1080.jpeg?timestamp=1608723818139" />
        </div>
        <div class="item card-1">
            <img class="ajustImage " src="https://d37wmy56xprd2c.cloudfront.net/fit-in/669x391/ZGVzX3Nlcmll_11032_BACKGROUND_1920x1080.png?timestamp=1612471891486" />
        </div>
        <div class="item card-1">
            <img class="ajustImage " src="https://d37wmy56xprd2c.cloudfront.net/fit-in/669x391/YmFja190b19saWZlX3Nlcmll_11032_BACKGROUND_1920x1080.png?timestamp=1612470155021" />
        </div>
        <div class="item card-1">
            <img class="ajustImage " src="https://d37wmy56xprd2c.cloudfront.net/fit-in/669x391/cm9hZGtpbGxfc2VyaWU_11032_BACKGROUND_1920x1080.png?timestamp=1611868204634" />
        </div>
        <div class="item card-1">
            <img class="ajustImage " src="https://d37wmy56xprd2c.cloudfront.net/fit-in/669x391/d2FyX29mX3RoZV93b3JsZHNfYV9hcnRlX2RhX2d1ZXJyYV9zZXJpZQ_11032_BACKGROUND_1920x1080.jpeg?timestamp=1608723818139" />
        </div>
        <div class="item card-1">
            <img class="ajustImage " src="https://d37wmy56xprd2c.cloudfront.net/fit-in/669x391/ZGVzX3Nlcmll_11032_BACKGROUND_1920x1080.png?timestamp=1612471891486" />
        </div>
        <div class="item card-1">
            <img class="ajustImage " src="https://d37wmy56xprd2c.cloudfront.net/fit-in/669x391/YmFja190b19saWZlX3Nlcmll_11032_BACKGROUND_1920x1080.png?timestamp=1612470155021" />
        </div>
        <div class="item card-1">
            <img class="ajustImage " src="https://d37wmy56xprd2c.cloudfront.net/fit-in/669x391/d2FyX29mX3RoZV93b3JsZHNfYV9hcnRlX2RhX2d1ZXJyYV9zZXJpZQ_11032_BACKGROUND_1920x1080.jpeg?timestamp=1608723818139" />
        </div>
        <div class="item card-1">
            <img class="ajustImage " src="https://d37wmy56xprd2c.cloudfront.net/fit-in/669x391/ZGVzX3Nlcmll_11032_BACKGROUND_1920x1080.png?timestamp=1612471891486" />
        </div>ge " src="https://d37wmy56xprd2c.cloudfront.net/fit-in/669x391/cm9hZGtpbGxfc2VyaWU_11032_BACKGROUND_1920x1080.png?timestamp=1611868204634" />
        </div>
        <div class="item card-1">
            <img class="ajustImage " src="https://d37wmy56xprd2c.cloudfront.net/fit-in/669x391/d2FyX29mX3RoZV93b3JsZHNfYV9hcnRlX2RhX2d1ZXJyYV9zZXJpZQ_11032_BACKGROUND_1920x1080.jpeg?timestamp=1608723818139" />
        </div>
        <div class="item card-1">
            <img class="ajustImage " src="https://d37wmy56xprd2c.cloudfront.net/fit-in/669x391/ZGVzX3Nlcmll_11032_BACKGROUND_1920x1080.png?timestamp=1612471891486" />
        </div>
        <div class="item card-1">
            <img class="ajustImage " src="https://d37wmy56xprd2c.cloudfront.net/fit-in/669x391/YmFja190b19saWZlX3Nlcmll_11032_BACKGROUND_1920x1080.png?timestamp=1612470155021" />
        </div>
        <div class="item card-1">
            <img class="ajustImage " src="https://d37wmy56xprd2c.cloudfront.net/fit-in/669x391/cm9hZGtpbGxfc2VyaWU_11032_BACKGROUND_1920x1080.png?timestamp=1611868204634" />
        </div>
        <div class="item card-1">
            <img class="ajustImage " src="https://d37wmy56xprd2c.cloudfront.net/fit-in/669x391/d2FyX29mX3RoZV93b3JsZHNfYV9hcnRlX2RhX2d1ZXJyYV9zZXJpZQ_11032_BACKGROUND_1920x1080.jpeg?timestamp=1608723818139" />
        </div>
        <div class="item card-1">
            <img class="ajustImage " src="https://d37wmy56xprd2c.cloudfront.net/fit-in/669x391/ZGVzX3Nlcmll_11032_BACKGROUND_1920x1080.png?timestamp=1612471891486" />
        </div>
        <div class="item card-1">
            <img class="ajustImage " src="https://d37wmy56xprd2c.cloudfront.net/fit-in/669x391/YmFja190b19saWZlX3Nlcmll_11032_BACKGROUND_1920x1080.png?timestamp=1612470155021" />
        </div>
        <div class="item card-1">
            <img class="ajustImage " src="https://d37wmy56xprd2c.cloudfront.net/fit-in/669x391/d2FyX29mX3RoZV93b3JsZHNfYV9hcnRlX2RhX2d1ZXJyYV9zZXJpZQ_11032_BACKGROUND_1920x1080.jpeg?timestamp=1608723818139" />
        </div>
        <div class="item card-1">
            <img class="ajustImage " src="https://d37wmy56xprd2c.cloudfront.net/fit-in/669x391/ZGVzX3Nlcmll_11032_BACKGROUND_1920x1080.png?timestamp=1612471891486" />
        </div> -->
        
    </div>
</div>
